<main>
    <img class="bg" src="assets/img/background.jpg" alt="">
    <div class="main">
        <p>contact Us</p>
    </div>
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3548.212896538317!2d75.69805381485968!3d27.212464882999466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396cffc30dacc2db%3A0xb78e5c340c935a95!2sUniversity%20of%20Engineering%20%26%20Management%20(UEM)%2C%20Jaipur!5e0!3m2!1sen!2sin!4v1659004381685!5m2!1sen!2sin"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="contact">
        <div class="address">
            <div class="detail">
                <i class="fa-solid fa-house-chimney"></i>
                <div class="about">
                    <p>University of Engineering and Management, Gurukul Campus</p>
                    <p>Jaipur, Rajasthan, India</p>
                </div>
            </div>
            <div class="detail">
                <i class="fa-solid fa-phone"></i>
                <div class="about">
                    <p>+91 6378281761</p>
                    <p>Monday to Saturday, 10AM to 6PM</p>
                </div>
            </div>
            <div class="detail">
                <i class="fa-solid fa-envelope"></i>
                <div class="about">
                    <p>amalendupandey56@gmail.com</p>
                    <p>Email us your queries</p>
                </div>
            </div>
        </div>
        <form action="">
            <input type="text" placeholder="Enter your namr">
            <input type="text" placeholder="Enter your address">
            <input type="text" placeholder="Enter your subject">
            <textarea name="" id="" cols="30" rows="7" placeholder="Message"></textarea>
            <button>Send message</button>
        </form>
    </div>
</main>