<main>
    <img class="bg" src="assets/img/background.jpg" alt="">
    <div class="main">
        <p>About Us</p>
    </div>
    <div class="landing">
        <div class="about">
            <p>We are the world's largest teaching platform</p>
            <p>Eduford University is one of the world’s leading academic and research institutions, offering a unique educational experience that prepares the next generation of global citizens to lead and make a difference in the world. We are a vibrant community of exceptional students, faculty, alumni and professionals dedicated to real-world applications of our research, scholarship, faith and service. Established in 1989, Eduford is the nation’s oldest Catholic and Jesuit university. Drawing upon the 450-year-old legacy of Jesuit education, we provide students with a world-class learning experience focused on educating the whole person through exposure to different faiths, cultures and beliefs.</p>
            <button>EXPLORE NOW</button>
        </div>
        <img src="assets/img/about.jpg" alt="">
    </div>
</main>
