<main>
    <p>About Us</p>
    <p>We’re a leading research university with a heart. Founded in the decade that the U.S. Constitution was signed, we’re the nation’s oldest Catholic and Jesuit university.We’re a community of people who bridge our disparate experiences and identities. Meet the people and places that make Eduford home</p>
    <div class="icons">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    <p>Made With <i class="fa-regular fa-heart"></i><span>by Pooja Yadav</span></p>
</main>
