main{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2% 5%;
    transition: .4s;
    z-index: 2;
}

main img{
    width: 12%;
    min-width: 120px;
}
main img:hover{
    cursor: pointer;
}
nav{
    width: 40%;
    min-width:400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav p{
    color: white;
    font-weight: 600;
    position: relative;
}
nav p::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background-color: orange;
    left:50%;
    bottom: 0;
    transition: .4s;

}
nav p::before{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background-color: orange;
    right:50%;
    bottom: 0;
    transition: .4s;

}
nav p:hover{
    cursor: pointer;
}

nav p:hover::after{
    width: 40%;
}
nav p:hover::before{
    width: 40%;
}
.header2{
    background-color: rgb(53, 53, 53);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.578);
    padding: .4% 5%;
    z-index: 2;
}
.menu{
    display: none;
}

.menu i{
    font-size: 28px;
    color: aliceblue;
}
.links{
    position: absolute;
    background-color: rgb(255, 255, 255);
    right: 0;
    width:fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:8% 10%;
    top: 0;
}
.links p{
    color: rgb(78, 78, 78);
    font-size: 20px;
    margin-top: 20px;
    font-weight: 800;
}
.fa-times{
    position: absolute;
    right:25px;
    color: rgb(78, 78, 78) !important;
    top:20px;
}


@media (max-width:700px) {
    main{
        padding: 3% 5%;
    }
    nav{
        display: none;
    }
    .menu{
        display: unset;
    }
}